<div id='results'>

  <h1>
    Your Congressional Representatives on <%= @search_term %>
  </h1>

  <div id='representative_info'>
    <% @reps.each do |name, info| %>
      <div class='individual_rep'>
        <h2>
          <%= name %> on <%= @search_term %>
        </h2>
        <% info[:rep_records].each do |record| %>
          <div class='individual_entry'>
            <h3>
              Congressional Record Entry
            </h3>
            <h4>
              Date: <%=record[:date] %>
            </h4>
            <div class='record_text'>
              <% i = 0 %>
              <% begin %>
                <p>
                  <%= record[:congressional_record][i] %>
                </p>
                <% i += 1 %>
              <% end while i < 5 %>
            </div>
            <h4>
              <a href='<%= record[:reference_url] %>'>
                More Information
              </a>
            </h4>
          </div>
        <% end %>
        <div id='tweet_box'>
          <form action='/tweet' method='post' class='tweet_form'>
            <!-- <input type='textarea' name='tweet' value='@<%= info[:twitter_id] %>'> -->
            <textarea rows='3' cols='50' name='tweet'>@<%= info[:twitter_id] %></textarea>
            <input class='button' type='submit' value='Tweet!'>
          </form>
        </div>
      </div>
    <% end %>
  </div>

  <div id='search_more'>
    <a href='/search'>
      <h2>
        @Congress more!
      </h2>
    </a>
  </div>
</div>